<%- include('./base/header.ejs') %>
<div class="container">
  <div class="alert bg-success my-3">
    <h4 class="text-center" style="color:black">Update Student</h4>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col">
      <form action="/update/student/<%= student._id %>" method="post">
        <div>
          <lable class="form-label">Roll No</lable>
          <input type="text" class="form-control" name="rollNo" placeholder="Enter roll no." value="<%= student.rollNo %>">
        </div>
        <div>
          <lable class="form-label">First Name</lable>
          <input type="text" class="form-control" name="firstName" placeholder="Enter first name" value="<%= student.firstName %>">
        </div>
        <div>
          <lable class="form-label">Last Name</lable>
          <input type="text" class="form-control" name="lastName" placeholder="Enter last name" value="<%= student.lastName %>">
        </div>
        <div>
          <lable class="form-label" >Father's Name</lable>
          <input type="text" class="form-control" name="fatherName" placeholder="Enter father's name" value="<%= student.fatherName %>">
        </div>
        <div>
          <lable class="form-label">Aadhar No</lable>
          <input type="text" class="form-control" name="adharCardNo" placeholder="Enter aadhar no." value="<%= student.adharCardNo %>">
        </div>
        <div>
          <lable class="form-label">Mobile No</lable>
          <input type="text" class="form-control" name="mobileNo" placeholder="Enter mobile no." value="<%= student.mobileNo %>">
        </div>
        <br>
        <input type="submit" value="Update student" class="btn btn-warning w-100">
        
      </form>
    </div>
    <div class="col"></div>
  </div>
</div>
<%- include('./base/footer.ejs') %>